:root {
    --color-primary-spring-green: #05f29b;
}


.button {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 5px 16px;

width: 116px;
height: 27px;
left: 20px;
top: 20px;

border-radius: 5px;

border: 1px solid transparent;

}

.type-primary {
    background: var(--color-primary-spring-green);
    
}

.type-secondary {
    background: transparent;
    color: var(--color-primary-spring-green);
    border: 1px solid v;
}